.boxtextincomplete {
  display: flex;
  justify-content: center;
  background-color: rgb(13, 24, 83);
  width: 67%;
  color: aliceblue;
  letter-spacing: 3px;
  border-radius: 6px;
  margin-bottom: 20px;
}
.boxboxtextincomplete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
