*{
  box-sizing: border-box;
}
body{
  margin:0;
  background: #e9ebee;
  color: #1d2129;
}
.Navbar{
  color: #ffffff;
  padding: 10px;
  background: #4167b2;
}
.Input ,.Post{
  border:1px solid hsl(216, 8%, 88%);
  border-radius: 4px;
  width: 576px;
  margin: 20px auto;
  background-color: #ffffff;
}
.Input_header{
  background: #f5f6f7;
  border-bottom: 1px solid #dddfe2;
  border-radius: 2px 2px 0 0 ;
  margin:0;
  padding: 15px;
}
.Input_field{
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 20px;
  background-color:#ffffff;
  border: none;
}
.Input_field:focus{
  outline: none;

}

.Post{
  padding: 15px;
}

.Post_image{
  width:100%;
  margin-top: 15px;
}

.Post_delete{
  border: none;
  background: none;
  padding: 0;
  float: right;

  cursor: pointer;
}


.top1 a {
  text-decoration: none;
  float: left;
  padding: 5px;
  margin: 5px;
}
.top1 img {
  text-decoration: none;
  float: left;
  padding: 5px;
  margin: 5px;
}
.top2 a {
  float: right;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
}
.head {
  font-size: 40px;
  text-align: center;
}
.fight {
  height: 100%;
  width: 100%;
  
  background-position: center;
  background-size: cover;
  position: absolute;
}
.form-box {
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  background: #fff;
  padding: 5px;
  overflow: hidden;
}
.button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
}
.toggle-btn-login {
  padding: 10px 30px;
  cursor: pointer;
  border: 0;
  outline: none;
  position: relative;
  width: 110px;
  height: 100%;
  border-radius: 30px 0 0 30px;
  transition: 0.5s;
}
.toggle-btn-register {
  padding: 10px 30px;
  cursor: pointer;
  border: 0;
  outline: none;
  position: relative;
  width: 110px;
  height: 100%;
  border-radius: 0 30px 30px 0;
  transition: 0.5s;
}
#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  border-radius: 30px;
  transition: 0.5s;
  background: linear-gradient(90deg, #ff105f, #ffad06);
}
.social-icons {
  margin: 30px auto;
  text-align: center;
}
.social-icons svg {
  width: 30px;
  margin: 0 12px;
  box-shadow: 0 0 20px 0 #7f7f7f3d;
  cursor: pointer;
  border-radius: 50%;
}
.input-group {
  top: 180px;
  width: auto;
  padding: 0 2rem;
  transition: 0.5s;
}
.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}
.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border: 0;
  outline: none;
  border-radius: 30px;
}
.check-box {
  margin: 30px 10px 30px 0;
}
span {
  color: #777;
  font-size: 12px;
  bottom: 68px;
}

.btn-color {
  background: linear-gradient(to right, #ff105f, #ffad06);
}